# Core packages
pip==25.2
streamlit==1.48.1
rich==14.1.0
markdown-it-py==4.0.0
pygments==2.19.2
mdurl==0.1.2
PyPDF2==3.0.1

# LangChain
langchain==0.3.27
langchain-community==0.3.27
chromadb==1.0.20

# HuggingFace embeddings
sentence-transformers==2.2.2
transformers==4.31.0
torch==2.3.1
huggingface-hub==0.17.4

# Utilities
python-dotenv==1.0.0
groq==0.31.0
tqdm==4.67.1
scipy==1.16.1
numpy==2.3.2
scikit-learn==1.7.1
nltk==3.9.1
sentencepiece==0.2.1
torchvision==0.23.0

