# Core
streamlit
rich
markdown-it-py
pygments
mdurl
PyPDF2

# LangChain + Vector DB
langchain
langchain-community
langchain-huggingface
chromadb

# HuggingFace + Torch
sentence-transformers
transformers
torch
torchvision
huggingface-hub
sentencepiece

# Utilities
python-dotenv
groq
tqdm
scipy
numpy
scikit-learn
nltk




